<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="FjodorMaller_Config::config" title="Fjodor Maller Modules" translate="true" sortOrder="800">
                                <resource id="FjodorMaller_Base::config" title="Base" translate="true" sortOrder="10" />
                                <resource id="FjodorMaller_Base::logging" title="Logging" translate="true" sortOrder="100000" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="FjodorMaller_Base::system" title="Fjodor Maller" sortOrder="33" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
